*{
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: 'Neue Kabel Pro Light';
    src: url('path-to-font-file.woff2') format('woff2');
}
html{
    /* font-family: sans-serif; */
}
body{
    height: 100vh;
    width: 100%;
    background-color: rgb(244, 237, 229);
    /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
    font-weight: 100;
}
.container{
    


}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    margin: 20px 20px 0px 20px;
    padding-left: 80px;
    padding-right: 80px;
    background-color: white;


}
header .menu{
    display: flex;
    align-items: center;
    justify-content: center;
}
header ul{
    list-style-type: none;
}
header a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    transition: 0.5s;
    font-family: 'Montserrat', sans-serif;


  
}
header ul li {
    margin-left: 15px;
}
header  a:hover{
    color: red;
}

header .title{
    width: 20px;
    padding-left: 40px;
    padding-right: 40px;
    
}
img{
    height: 50px;
}
header .list{
    background-color: red;
    position: relative;
    top: 40px;
}

@media (max-width:800px){
    header .menu{
        display: none;
    }
}
.contant{
    height: 100vh;
  


}
 .first-section{
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    padding: 30px;
    padding-left: 80px;
    padding-right: 80px;
    background-color: white;
    margin: 0 20px 0px 20px;

}
 .first-one{
}
.first-one h1,h2{
    font-size: 50px;
    font-family: 'Raleway', sans-serif;

}
.first-one .buttons{
    width: 90%;
    margin: 70px 0px 30px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.first-one .buttons a:first-of-type{
    background-color: rgb(245, 79, 79);
    width: 150px;
    text-align: center;
    padding-top: 12px;
    text-decoration: none;
    height: 40px;
    border: none;
    color: white;
    border-radius: 30px;
    font-weight: 700;
    font-size: 16px;
    box-shadow: 0px 5px 30px 0px rgb(245, 122, 122);
    transition: 0.5s; 
}
.first-one .buttons a:last-of-type{
    background: transparent;
    border: none;
    text-decoration: none;
    color: black;
    transition: 0.5s;
}
.first-one .buttons a:last-of-type i{
    margin-right: 10px;
}
.first-one .buttons a:last-of-type:hover{
    color: red;
}
.first-one .buttons a:first-of-type:hover{
    background-color: red;
 
}
.desc{
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}

.desc  .line{
    background-color: gray;
    width: 1px;
    height: 90px;
}
.desc .box{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

}
.desc h4{
    font-family: 'Josefin Sans',sans-serif;

}
.desc .box i{
    font-size: 40px;
    color: rgb(53, 53, 53);
    margin-bottom: 20px;
}
.second-one{
    width: 50%;
    
    
}
.second-one img{
    width: 90%;
    height: 70vh;
    background-color: red;
    transition: 0.5s;
   
}
.second-one .buttons{
    position: relative;
    top: -100px;
    display: flex;
    background-color: gray;
    justify-content: space-between;
    left: 60%;
    width: 30%;
}
.second-one .buttons a{
    background-color: white;
    text-decoration: none;
    width: 49.8%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    height: 100px;
    font-weight: 700;
    font-size: 20px;

}
@media (max-width:800px){
    .second-one img{
        display: none;
    }
    .second-one .buttons{
        display: none;
    }
    .desc {
        display: none;
    }
    .first-one .buttons a:last-of-type{
        display: none;
    }
}
.second-section{
  
    padding: 30px;
    padding-left: 80px;
    padding-right: 80px;
    margin: 0 20px 0px 20px;
    background-color: white;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    
}
.second-section .first-part {
    height: 100%;
    width: 30%;
    margin-right: 50px;
}
.second-section .first-part img{
    width: 100%;
    height: 100%;

}
.second-section .second-part {
    width: 70%;
    
}
.second-section .second-part p:first-of-type{
color: red;

}
.second-section .second-part h2{
    font-size: 30px;
    margin-bottom: 25px;
    font-weight: 800;
}
.second-section .second-part p{
    color: black;
    font-weight: 200;
    margin-bottom:30px;
    font-family: 'Montserrat', sans-serif;
    line-height: 2;
   
}
.second-section .second-part .cards{
    display: flex;
    justify-content: space-between;
    width: 60%;
}
.second-section .second-part a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: red;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    text-align: start;

}
.second-section .second-part img{
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}
@media (max-width:700px){
    .second-section .first-part {
        display: none;
    }
    .second-section .second-part{
        margin-top: 100px;
    }
    .second-section .second-part p{
        display: -webkit-box;
        -webkit-line-clamp: 3; /* عدد الأسطر التي يمكن عرضها */
        -webkit-box-orient: vertical;
        overflow: hidden;

    }
  
}


/* special-dishes-section */


.special-dishes-section{
    background-color: rgb(247, 248, 249);
    padding: 30px;
    padding-left: 80px;
    padding-right: 80px;
    margin: 0 20px 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top:70px;
}
.special-dishes-section h2{
    font-size: 30px;
}
.special-dishes-section .title{
    text-align: center;

    
}
.special-dishes-section .title h5{
    font-family: 'Raleway', sans-serif;
    color: red;
    font-weight: 300;

}
.special-dishes-section .title h2{
    font-weight: 800;
}
.special-dishes-section .body{
    display: flex;
    margin: 50px 0px 50px 0;
    height: 100%;


}
.special-dishes-section .first-part{
    width: 50%;
    display: flex;
    height: 100%;

}
.special-dishes-section .first-part .number-title{
    font-size: 70px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;

}
.special-dishes-section .first-part .descreption {
    margin-top: 60px;
    margin-left: 20px;
}
.special-dishes-section .first-part .descreption hr{
    width: 30%;
    height: 1px;
    background-color: black;
}
.special-dishes-section .first-part .descreption h3{
    margin-top: 40px;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;

}
.special-dishes-section .first-part .descreption span{
    color: red;
}
.special-dishes-section .first-part .descreption p{
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;

}
.special-dishes-section .first-part .descreption h5{
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
    font-size: 20px;
    margin-bottom: 30px;

}
.special-dishes-section .first-part .descreption a{
    font-family: 'Montserrat', sans-serif;
    /* text-decoration: none;
    background-color: red;
    color: white;
    height: 50px; */
    background-color: rgb(245, 79, 79);
    width: 150px;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    border: none;
    color: white;
    border-radius: 30px;
    font-size: 16px;
    box-shadow: 0px 5px 30px 0px rgb(245, 122, 122);
    transition: 0.5s; 


}
.special-dishes-section .second-part{
    width: 50%;
}
.special-dishes-section .second-part img{
    width: 90%;
    height: 90%;

}